body {
    background-color: #ffffe5;
    padding: 10px;
    padding-left: 450px;
    padding-top: 40px;
}

.Text {
    border-bottom: solid 5px #4eb5ac;
    border-left: solid 5px #3b9ca3;
    background-color: #429fb0;
    color: #ffffff;
    width: 100%;
    padding: 10px;
}

.img {
    border: double 10px #3d86bb;
    padding: 0px;
}