body {
    background-color: #ffffe5;
    padding: 10px;
    padding-left: 450px;
    padding-top: 40px;
}

.Text {
    border-bottom: solid 5px #4eb55f;
    border-left: solid 5px #3ba347;
    background-color: #42b05c;
    color: #ffffff;
    width: 45%;
    padding: 10px;
}

.img {
    border: double 10px #3fbb3d;
    padding: 0px;
}